<main class="container is-fluid">
    <div
    class="box   notification is-warning is-marginless"
  >
    <strong> Instructions </strong><br />
    All inputs must have &nbsp;<strong> atleast 3 characters</strong>
    <br />
    Origin and destination &nbsp;<strong>cannot be same</strong>
    <br />
  </div>
  <section class="section is-paddingless">
    <h2 class="subtitle">
    </h2>
    <lib-travel-track [tripInputs]="tripInputs"></lib-travel-track>
  </section>

  <section class="section">
    <h4 class="title is-5 is-clearfix">
      List trips here
      <a class="button is-primary is-pulled-right" (click)="addTrip()">Add</a>
    </h4>
    <ng-container *ngFor="let address of tripForm.controls; let i = index">
      <div class="box  columns is-paddingless is-marginless" [formGroup]="getTripForm(i)">
        <div class="field column is-marginless">
          <p class="control has-icons-left">
            <span class="icon is-small is-left mh-10">
              From:
            </span>
            <input
              class="input   is-primary is-static"
              type="text"
              formControlName="start"
              placeholder="Enter Origin location name"
            />
          </p>
        </div>
        <div class="field column is-marginless">
          <p class="control has-icons-left">
            <span class="icon is-small is-left mh-10">
              To:
            </span>
            <input
              class="input  is-primary is-static "
              type="text"
              formControlName="destination"
              placeholder="Enter destination location name"
            />
          </p>
        </div>
        <footer class="card-footer is-borderless card-footer-padding">
          <a class="button is-danger" (click)="removeTrip(i)">Delete</a>
        </footer>
      </div>
    </ng-container>

    <!-- <div class="box  columns is-paddingless">
      <div class="field column is-marginless">
        <p class="control has-icons-left">
          <span class="icon is-small is-left mh-10">
            From:
          </span>
          <input
            class="input   is-primary is-static"
            type="text"
            placeholder="Enter Origin location name"
            value="bangalore"
          />
        </p>
      </div>
      <div class="field column is-marginless">
        <p class="control has-icons-left">
          <span class="icon is-small is-left mh-10">
            To:
          </span>
          <input
            class="input  is-primary is-static "
            type="text"
            placeholder="Enter destination location name"
            value="bangalore"
          />
        </p>
      </div>
      <footer class="card-footer is-borderless card-footer-padding">
        <a class="button is-danger">Delete</a>
      </footer>
    </div> -->
  </section>
</main>
